body{
	background: linear-gradient(to right, darkred, red, orange, darkorange, brown);
}

h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

h4{
	text-align: center;
	font-weight: bold;
}

.answer{
	text-align: center;
	font-weight: bold;
	font-family: 'Itim', cursive
}

.h4results {
	font-family: 'Coiny', cursive;
}

.jumbotron{
	background: linear-gradient(to right, darkred, red, orange, darkorange, brown);
	margin: 0 auto;
	text-align: center;
	font-family: 'Coiny', cursive;
}

#questions{
	text-align: center;
	font-family: 'Itim', cursive;
}

#correctAnswersDiv{
	text-align: center;
	font-family: 'Itim', cursive;
}

p{
	font-family: 'Coiny', cursive;
	padding: 10px;
	text-align: center;
	font-size: 17px;
}

#results{
	text-align: center;
	font-size: 15px;
	font-family: 'Coiny', cursive;
}

#pic{
	border: 2px solid black;
	border-radius: 50px;
	width: 500px;
	height: 275px;
}

#minutes{
	margin-right: 25px;
}

#correctAnswersButton {
	margin-bottom: 15px;
}

#startTrivia2 {
	margin: 20px auto 30px auto;
}

#restart2 {
	margin: 10px 0 10px 0;
}
