body{
	background: linear-gradient(to right, darkred, red, orange, darkorange, brown);
}

h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.jumbotron{
	background: linear-gradient(to right, darkred, red, orange, darkorange, brown);
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Coiny', cursive;
}

#questions{
	text-align: center;
	font-family: 'Itim', cursive;
}

p{
	font-family: 'Coiny', cursive;
	padding: 20px;
}

#results{
	text-align: center;
	font-size: 15px;
	font-family: 'Coiny', cursive;
}

#pic{
	border: 2px solid black;
	border-radius: 50px;
	width: 500px;
	height: 275px;
}

#minutes{
	margin-right: 25px;
}

